html {
  line-height: 1.5;
  background-color: #dbd6cf;
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: block;
  background-color: #79756f;
  text-align: center;
  padding-bottom: 0.6em;
  padding-top: 0.75em;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  margin: 0;
}

h1 {
  color: #fff;
  font-family: "Bevan", cursive;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  background-color: #713837;
  padding: 0.75em;
  border-radius: 0.3em;
  display: block;
}

a,
a:link {
  color: #fff;
}

a:hover {
  background-color: #f33;
}
